.inptDiv{
  /* background-color: skyblue; */
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5vh;
  padding: 10px;
  box-sizing: border-box;
  
}
body{
  overflow-x: hidden;
}

.ngx-file-drop{
  width: 100%;
  /* background-color: red; */
}
.pathNAme{
  /* background-color: blueviolet; */
  width: 57%;                  
  max-width: 300px;             
  white-space: nowrap;          
  overflow: hidden;            
  text-overflow: ellipsis;      
  /* color: white;                */
  padding: 5px;                
  font-size: 12px;             
  text-align: center;  
}

.img-fluid{
  width: 150px;
  height: 150px;
  object-fit: cover;
  
}










/* ------------------------------------------------------ */





@media (max-width: 768px) {
  .inptDiv{
   margin-left: 50px;
    
  }  
  .ngx-file-drop{
    width: 100%;
  }

  
}

@media (max-width:375px){
.row{
  /* background-color: aquamarine; */
  margin-left: 16px;
  margin-right: 0;
  
}
.inptDiv{
  /* background-color: aquamarine; */
  height: 50px;
  margin-left: 10;
  margin-right:0 ;
}
.pathNAme{
  width: 50%;
  
}
.container{
  /* background-color: rebeccapurple; */
 padding-left: 80px;
}


}

