<body>
  
  <div class="ngx-file-drop">
    <ngx-file-drop
    dropZoneLabel="Drop your files here!"
    (onFileDrop)="dropped($event)"
    >
  </ngx-file-drop>
</div>
<div class="inptDiv">
  <input type="file" multiple (change)="onfileSelected($event)" /> 
</div>
<div class="container">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
    <div class="col" *ngFor="let fileData of files">
      <img
        [src]="getImageUrl(fileData)"
        (click)="openFullScreen(fileData)"
        class="img-fluid"
        />
        <p class="pathNAme"> {{fileData.file.name}} </p>
      </div>
    </div>
  </div>
  
</body>