

.container {
  display: flex;
  justify-content: space-between;
  /* background-color:white transparent(0.5); */
  align-items: center;
  position: relative;
  overflow: hidden;
  height: 80vh; /* Make the container fill the height */
  width: 100vw; /* Make the container fill the width */
}

.image-container {
  /* background-color: antiquewhite; */
  flex: 1; /* Allow the image container to take available space */
  height: 80vh; /* Full height */
  display: flex;
  justify-content: center; /* Center the image horizontally */
  align-items: center; /* Center the image vertically */
}

img {
  width: 60vw;
  height: 60vh;
  object-fit: cover; /* Ensure the image maintains its aspect ratio while filling the available space */
}

@media (max-width: 768px) {
  .container {
    /* margin-left: 220px; */
    width: 60vw;
    height: 50vh;
    /* background-color: red; */
  }
  img {
    width: 320px;
    height: 320px;
  }
}

@media (max-width: 375px) {
  .container {
    width: 90vw;
    height: 45vh;
    /* background-color: aquamarine; */
  }
  img {
    width:  55vw;
    height: 35vh;
  }

  .btnL{
    
    font-size: 0.8rem;
  }
  .btnR{
   
    font-size: 0.8rem;

    
  }

}
